version: 2
jobs:
  build:
    working_directory: ~/android-sdk
    docker:
      - image: sygictravel/android-docker-build
    steps:
      - checkout
      - run:
          name: Modify files
          command: |
            if [[ ! -z $CIRCLE_TAG ]]; then
              echo "Set Version"
              sed -i 's/\(.*\)dev\-master\(.\)/\1'"$CIRCLE_TAG"'\2/g' sdk/build.gradle

              echo "Set Bintray Override flag"
              sed -i "s/\(override \= \)true/\1false/g" sdk/bintray.gradle
            fi

            echo "Set Android Gradle plugin version"
            sed -i 's/.*local\.properties.*//g' build.gradle
            sed -i 's/.*gradle\.plugin\.version.*//g' build.gradle
            sed -i 's/\${gradle_plugin_version}/'"$ANDROID_SDK_GRADLE_PLUGIN_VERSION"'/g' build.gradle

            echo "Set Bintray API Key"
            sed -i 's/\(.\)bintray\-api\-key\(.\)/\1'"$ANDROID_SDK_BINTRAY_API_KEY"'\2/g' sdk/build.gradle

            echo "Disable OkHttp Logging"
            sed -i 's/HttpLoggingInterceptor\.Level\.BODY/HttpLoggingInterceptor\.Level\.NONE/g' sdk/src/main/java/com/sygic/travel/sdk/contentProvider/api/StApiGenerator.kt
      - run:
          name: Clean
          command: |
            gradle :sdk:clean
      - run:
          name: Generate Documentation
          command: |
            if [[ $CIRCLE_BRANCH = "master" ]] || [[ ! -z $CIRCLE_TAG ]]; then
              PATTERN="\(.*\)\(-- ========= END OF TOP NAVBAR ========= --\)\(.*\)"
              DIV_START="<div class=\"contentContainer\">"
              GITHUB='<p>For quick \"Getting started\" see our <a href=\"https:\/\/github\.com\/sygic-travel\/android-sdk\/\" target=\"\_blank\">Github<\/a>\.<\/p>'
              WARNING="<p>This is a documentation of the <b>dev\-master<\/b> version which contains the newest features, but please note that this version is under development and we do not guarantee it\'s stability\.<\/p>"
              DIV_END="<\/div>"

              gradle :sdk:dokka

              if [[ ! -z $CIRCLE_TAG ]]; then
                sed -i 's/'"$PATTERN"'/\1\2\3\n'"$DIV_START\n$GITHUB\n$DIV_END"'/' ./sdk/build/dokkaDoc/overview-summary.html
              else
                sed -i 's/'"$PATTERN"'/\1\2\3\n'"$DIV_START\n$GITHUB\n$WARNING\n$DIV_END"'/' ./sdk/build/dokkaDoc/overview-summary.html
              fi
            fi
      - run:
          name: Upload Documentation
          command: |
            if [[ $CIRCLE_BRANCH = "master" ]] || [[ ! -z $CIRCLE_TAG ]]; then
              DOC_PATH="s3://docs.sygictravelapi.com/android-sdk/master"
              if [[ ! -z $CIRCLE_TAG ]]; then
                DOC_PATH="s3://docs.sygictravelapi.com/android-sdk/$CIRCLE_TAG"
              fi
              aws s3 sync ./sdk/build/dokkaDoc $DOC_PATH --delete --acl public-read
            fi
      - run:
          name: Install SDK to Maven Repository
          command: |
            gradle :sdk:install
      - run:
          name: Upload SDK to Bintray
          command: |
            if [[ $CIRCLE_BRANCH = "master" ]] || [[ ! -z $CIRCLE_TAG ]]; then
              gradle :sdk:bintray
            fi
deployment:
  fake_deploy_for_cci2:
    tag: /.*/
    commands:
      - echo "make tags run in 2.0"