version: 2
jobs:
  build:
    working_directory: ~/android-sdk
    docker:
      - image: sygictravel/android-docker-build
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-gradle-{{ checksum "build.gradle" }}
            - v1-gradle-
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - run:
          name: Prepare Cache
          command: |
            rm -f  ~/.gradle/caches/modules-2/modules-2.lock
            rm -fr ~/.gradle/caches/*/plugin-resolution/
      - save_cache:
          key: v1-gradle-{{ checksum "build.gradle" }}
          paths:
            - ~/.gradle
      - run:
          name: Build Api Reference Doc
          command: |
            if [[ $CIRCLE_BRANCH = "master" ]] || [[ ! -z $CIRCLE_TAG ]]; then
              ./gradlew dokka
              cp /sdk-build/markdown-it.js ./.circleci/markdown-it.js
              cp /sdk-build/apidoc-style.css ./build/dokkaDoc/sdk/style.css
              node ./.circleci/build-apidoc.js ./build/dokkaDoc/sdk
              DOC_PATH="s3://docs.sygictravelapi.com/android-sdk/master"
              if [[ ! -z $CIRCLE_TAG ]]; then
                DOC_PATH="s3://docs.sygictravelapi.com/android-sdk/${CIRCLE_TAG:1}"
              fi
              aws s3 sync ./build/dokkaDoc/sdk $DOC_PATH --delete --acl public-read
            fi
deployment:
  fake_deploy_for_cci2:
    tag: /.*/
    commands:
      - echo "make tags run in 2.0"
