<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.sygic.travel.sdkdemo">

	<uses-permission android:name="android.permission.INTERNET"/>

	<application
		android:name=".Application"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<meta-data
			android:name="com.google.android.geo.API_KEY"
			android:value="@string/google_maps_api_key"/>

		<activity
			android:name=".DemoMainActivity"
			android:label="@string/title_activity_demo_main"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".map.MapsActivity"
			android:label="@string/title_activity_maps"
			android:screenOrientation="portrait"></activity>
		<activity
			android:name=".list.PlacesListActivity"
			android:label="@string/title_activity_places"
			android:screenOrientation="portrait"></activity>
		<activity
			android:name=".detail.PlaceDetailActivity"
			android:label="@string/title_activity_place_detail"
			android:screenOrientation="portrait"></activity>
		<activity
			android:name=".gallery.GalleryActivity"
			android:label="@string/title_activity_gallery"
			android:screenOrientation="portrait"></activity>
		<activity
			android:name=".gallery.PhotoActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/title_activity_photo"
			android:parentActivityName=".gallery.GalleryActivity"
			android:screenOrientation="portrait">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.sygic.travel.sdkdemo.gallery.GalleryActivity"/>
		</activity>
		<activity
			android:name=".detail.ReferenceActivity"
			android:screenOrientation="portrait"></activity>
		<activity
			android:name=".search.SearchActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/title_activity_search"
			android:screenOrientation="portrait"></activity>
		<activity
			android:name=".tours.ToursActivity"
			android:label="@string/title_activity_tours"
			android:screenOrientation="portrait"></activity>
		<activity
			android:name=".favorites.FavoritesActivity"
			android:label="@string/title_activity_favorites"
			android:screenOrientation="portrait"></activity>
	</application>
</manifest>
